.cards-section {
  padding: 2rem;
}

.card-slide {
  padding: 0 0.5rem;
}

.slick-slide > div {
  height: 100%;
}

.slick-dots li button:before {
  color: #006e3e;
}

.slick-dots li.slick-active button:before {
  color: #00512a;
}
