header {
  background: var(--primary-color);
  color: var(--secondary-color);
  position: relative;
  padding: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  display: block;
  opacity: 1;
  text-decoration: none;
}

.logo img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 190px;
}

/* Mobile */
@media (max-width: 767px) {
  .logo img {
    max-width: 134px;
  }
}
