.navmenu-container {
  position: relative;
}

.menu-toggle {
  display: flex;
  background: none;
  border: none;
  color: var(--secondary-color);
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  line-height: 150%;
}

.menu-toggle .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.menu-toggle .arrow.open {
  transform: rotate(180deg);
}

.menu {
  position: fixed;
  top: 57px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 2rem 1rem;
  gap: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 1000;
}

.menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.menu li {
  text-align: center;
}

.menu a {
  display: block;
  padding: 0.75rem 0;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

@media (min-width: 768px) {
  .navmenu-container {
    display: flex;
    max-width: 50vw;
  }

  .menu-toggle {
    display: none;
  }

  .menu {
    display: flex !important;
    gap: 1rem;
    position: static;
    opacity: 1;
    transform: none;
    pointer-events: auto;
    background: none;
    flex-direction: row;
    justify-content: center;
  }

  .menu a {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
  }

  .menu li:last-child {
    display: none;
  }
}
